@import url("../styles/header.css");
@import url("../styles/perfil.css");
@import url("../styles/consultas.css");
@import url("../styles/rodape.css");
@import url("../styles/formulario.css");



*{
    box-sizing: border-box;
}

:root{
    --fonte-principal: "Montserrat", sans-serif;
    --branco: #FFFFFF;
    --preto: #464646;
    --cor-destaque: #FFB050;
    --cor-formulario: #f7cc99;
    --cor-destaque-2: #4894FF;
    --cor-detalhe: #A3A3A3;
    --cor-background: #E5E5E5;

}


body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-background);
    color: var(--preto);
    font-size: 0.87rem;
    font-weight: 400;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    box-sizing: border-box;
}

@media screen and (min-width: 1200px){
    body{
        padding-left: 10rem;
    }
}