.consultas{
    margin-bottom: 10em;
}

.consultas__dia{
    font-size: 1rem;
    font-weight: 700;
    margin: 0 1em;
    margin-top: 2.5em;
}

.consultas__paciente{
    display: flex;
    flex-direction: column;
    margin: 1em 1.5em 3em 1.5em;
    padding: 1em 0;
    background-color: var(--branco);
    border-radius: 10px;
}

.consultas__dados{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    
}

.consultas__dados-imagem{
    border-radius: 150px;
    width: 13%;
    height: auto;
    margin: 0em 0.6em 0em 0.6em;
}

.consultas__nome {
    font-weight: 700;
    padding-bottom: 0.5em;
}

.consultas__modalidade {
    display: flex;
    align-items: center;
    color: var(--cor-detalhe);
    font-size: 0.75rem;  
    width: auto; 
    white-space: nowrap;
}

.consultas__modalidade-imagem {
    padding-right: 0.5em;
    width: 18%;
    height: auto;
}

.consultas__imagem-chat{
    height: 32px;
    width: auto;
    margin-left: auto;
    border: none;
    background: none;
    background-color: transparent;
    cursor: pointer;
}

.consultas__imagem-chat:focus{
    outline: none;
}

.consultas__linha {
    background-color: var(--cor-detalhe);
    margin: 1em 0; 
    width: 100%;
} 

.consultas__horario{
    padding: 0 2.5em;
    font-weight: 500;
    font-size: 0.75rem;
}

.consultas__botao{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 1em;
}

.consultas__botao-video,
.consultas__botao-audio {
    text-decoration: none;
    border-radius: 10px;
    padding: 1em;
    font-weight: 500;
    font: inherit;
    cursor: pointer;
}

.consultas__botao-video{
    border: 1px solid var(--cor-destaque);
    background-color: var(--cor-destaque);
    color: var(--branco);
}

.consultas__botao-audio{
    border: 1px solid var(--cor-detalhe);
    color: var(--preto);
    background-color: transparent;
}

.consultas__botao-endereco{
    background-color: var(--cor-destaque-2);
    padding: 1em;
    margin: 1em 1.5em;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    border: none;
    font:inherit;
    cursor: pointer;
}

.consultas__botao-endereco:focus{
    outline: none;
}


@media screen and (min-width: 500px){
    
    .consultas__dia{
        margin: 2em 3.5em 0.5em 3.5em;
    }

    .consultas__paciente{
        margin: 2em 4em 3em 4em;
    }

    .consultas__dados{
        padding: 0 4em;  
    }

    .consultas__horario{
        padding: 0.8em 6em;
    }

    .consultas__botao{
        padding: 1em 3em;
        gap: 20px;
    }
    
    .consultas__botao-endereco{
        padding: 1em;
        margin: 1em 5em;
    }
}

@media screen and (min-width: 650px){
    
    .consultas__dia{
        margin: 2em 3em 0.5em 3em;
    }

    .consultas__paciente{
        margin: 2em 2.5em 3em 2.5em;
    }

    .consultas__dados{
        padding: 0 3em;  
    }

    .consultas__horario{
        padding: 0.8em 5em;
    }

    .consultas__botao{
        justify-content: space-between;
        padding: 1em 3.5em;
    }

    .consultas__botao-video,
    .consultas__botao-audio {
    padding: 1em 3em; 
    }

    .consultas__botao-endereco{
        padding: 1em;
        margin: 1em 4em;
    }  
}

@media screen and (min-width: 700px){
    .consultas__dia{
        margin: 2em 3.5em 0.5em 3.5em;
    }

    .consultas__paciente{
        margin: 2em 4em 3em 4em;
    }

    .consultas__dados{
        padding: 0 4em;  
    }

    .consultas__horario{
        padding: 0.8em 5.5em;
    }

    .consultas__botao{
        justify-content: space-between;
        padding: 1em 4.5em;
    }

    .consultas__botao-video,
    .consultas__botao-audio {
    padding: 1em 3em; 
    }

    .consultas__botao-endereco{
        padding: 1em;
        margin: 1em 5em;
    }  
}

@media screen and (min-width: 768px){
    
    .consultas {
        margin-bottom: 4em;
    }
    
    .consultas__dia{
        margin: 2em 2em 0.5em 2em;
    }

    .consultas__paciente{
        margin: 1em 2em;
    }
    
    .consultas__blocos{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .consultas__dados{
        padding: 0 1em;  
    }

    .consultas__horario{
        padding: 0.8em 2.5em;
    }

    .consultas__botao{
        padding: 1em;
        justify-content: space-around;
    }

    .consultas__botao-video,
    .consultas__botao-audio {
        padding: 1em;
    }

    .consultas__botao-endereco{
        margin: 1em 2em;
    }  
}

@media screen and (min-width: 1024px){
    
    .consultas__paciente{
        margin: 1em 2em;
    }

    .consultas__dia{
        font-size: 1.2rem;
    }

    .consultas__blocos{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .consultas__horario{
        padding: 0.5em 1.8em;
    }

    .consultas__botao{
        padding: 1em;
    }

    .consultas__botao-video,
    .consultas__botao-audio {
        padding: 1em 0.3em;
        transition: transform 200ms linear;
    }

    .consultas__botao-audio:hover {
        transform: scale(1.2);
    }

    .consultas__botao-endereco:hover{
        transform: scale(1.06);
    }

    .consultas__botao-endereco{
        margin: 1em;
        transition: transform 200ms linear;
    } 
    
    .consultas__botao-video:hover {
        transform: scale(1.2);
    }

}

@media screen and (min-width: 1200px){
    .consultas__botao{
    gap: 10px;
    }
} 