.perfil {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2em 1em 0em 1em;
}

.perfil__imagem {
    border-radius: 150px;
    width: 20%;
    height: auto;
}

.perfil__texto {
    padding: 1em;
}

.perfil__nome {
    font-size: 1.37rem;
    font-weight: 700;
    padding-bottom: 0.7em;
}

.perfil__paragrafo {
    color: var(--cor-detalhe);
}

@media screen and (min-width: 500px){
    .perfil {
    padding: 2em 3.5em 0em 2em;
    }
}

@media screen and (min-width: 1200px){
   .perfil{
    padding-left: 3.5em;
   }

   .perfil__nome {
    font-size: 2rem;    
   }

    .perfil__paragrafo {
    font-size: 1.2rem;
    }
}